/* layout.css */
.main-grid {
  display: grid;
  grid-template-columns: 350px 1fr;
  gap: 2rem;
}

.controls-column {
  background-color: var(--light-color);
  padding: 1.5rem;
  border-radius: var(--border-radius);
  box-shadow: 0 4px 12px var(--shadow-color);
  display: flex;
  flex-direction: column;
  align-items: center; /* Centra todo el contenido */
}


.controls-column h1 {
  text-align: center; /* Asegura que el título esté centrado */
  width: 100%;
}

.results-column {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

/* Contenedores principales */
.palette-container, .backgrounds-container {
  background-color: var(--light-color);
  padding: 1.5rem;
  border-radius: var(--border-radius);
  box-shadow: 0 4px 12px var(--shadow-color);
}

/* Espacio específico entre Mejor Paleta y Fondos */
.backgrounds-container {
  margin-top: 20px; /* Esto añade los 20px de separación */
}

/* Paletas adicionales */
#extraPalettes {
  margin-top: 2rem;
}

#extraPalettes h2 {
  font-size: 1.5rem;
  margin-bottom: 1.5rem;
  color: var(--dark-color);
}

.palette-group {
  background-color: var(--light-color);
  padding: 1.5rem;
  border-radius: var(--border-radius);
  box-shadow: 0 4px 12px var(--shadow-color);
  margin-bottom: 2rem;
}

.palette-group h3 {
  margin-top: 0;
  margin-bottom: 1rem;
  font-size: 1.2rem;
  color: var(--dark-color);
}

@media (max-width: 768px) {
  .main-grid {
    grid-template-columns: 1fr;
  }
  
  .controls-column {
    margin-bottom: 2rem;
  }
}

